:root {
    --background-color: #ebe9eb;
    --unmarked-button-color: #eaebef;
    --button-color: #fff;
    --input-color: #f6f6f6;
    --focus-input: #909090;
    --button-submit: linear-gradient(#FDC830, #ea5b0c);


    --title-color: #0b0c0e;
    --text-color: #505668;
    --unmarked-text-color: #505668;
    --button-text-color: #f6f6f6;
    --placeholder-color: #aaa;
    --text-color-marked: linear-gradient(#FDC830, #ea5b0c);
    
    --font: 'Roboto', sans-serif;
    --font-title:'Fredoka One', cursive;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-size: 1em;
    font-weight: 300;
    /* width: 100vw;*/ /*MODIFICACION POR ISA */
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 120px 1fr 50px / 1fr;
    grid-template-areas: "header"
                         "login"
                         "footer";
    
    background-color: #f9f9f9;
}

/**-----PAGE BACKGROUND IMAGE-----*/
.background-img {
    grid-area: header;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;

    background-image: url(../image/background-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 120px;
}

.logo {
    width: 100px;
}

/**-----FORM-----*/
.login {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 80%;
    display: grid;
    grid-template: repeat(4, .5fr) / 1fr;
    grid-row-gap: 26px;
}

/*-----Text-----*/
.text .welcom {
    font-family: var(--font-title);
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;

    color: var(--title-color);
}

.text-signin {
    font-size: 1em;
    padding-bottom: 15px;

    color: var(--text-color);
}

/* ----- form elements ----- */
.form-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    transition: all 500ms ease-in-out;
}

.input-box {
    position: relative;
    width: 100%;
    height: 2.4em;
    padding-left: 10px;
    font-size: 1em;
    border-radius: .5em;
    transition: .5s ease-in-out;

    color: var(--input-text-color);
    border: 1px solid var(--input-color);
    box-shadow: 9px 3px 10px -5px rgba(25, 25, 25, 0.2);
}

.input-box:focus {
    border: 2px solid var(--focus-input);
}

.form-label {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 38px;
    transition: .5s ease;

    color: var(--placeholder-color);
}

.input-box,
.form-label {
    padding-left: 15px;
}

.input-box:focus + .form-label,
.input-box:valid + .form-label {
    top: -28px;
    padding-left: 0;
    font-size: .8em;
    font-weight: 400;

    color: var(--text-color);
}

.form-label > span {
    transition: .5s ease-in-out;
}

.login-btn {
    width: 200px;
    padding: 8px 0;
    font-family: var(--font);
    font-size: 1em;
    font-weight: 500;
    border-radius: .5em;
    border: none;
    outline: none;
    cursor: pointer;

    color: var(--button-text-color);
    background-image: var(--button-submit);
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
}

/**-----FOOTER-----*/
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-color);
}

/*? ---------------TABLET---------------- */
@media screen and (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #f9f9f9;
    }

    .container {
        width: 550px;
        height: 550px;

        box-shadow:  20px 20px 60px #d4d4d4, 
                    -20px -20px 60px #ffffff;
    }

    /**-----PAGE BACKGROUND IMAGE-----*/
    .background-image {
        align-items: flex-start;
        justify-content: center;
        padding-left: 0;
        padding-top: 50px;

        background-image: url(../image/background.png);
        background-size: 100% 100%;
    }

    .logo {
        width: 150px;
    }

    /**-----FORM-----*/
    .form-group {
        width: 70%;
        grid-row-gap: 32px;
    }

    /*-----Text-----*/
    .text .welcom {
        font-size: 2em;
    }

    .text-signin {
        font-size: 1.2em;
    }

    /* ----- form elements ----- */
    .input-box {
        height: 2.6em;
        font-size: 1.1em;
    }

    .form-label {
        line-height: 45px;
    }

    .input-box:focus + .form-label,
    .input-box:valid + .form-label {
        top: -32px;
        font-size: 1em;
    }

    .login-btn {
        width: 225px;
        padding: 10px 0;
        font-size: 1.1em;
    }
}

/*? ---------------DESKTOP---------------- */
@media screen and (min-width: 1024px) {
    .container {
        width: 700px;
    }
    /**-----FORM-----*/
    .form-group {
        width: 60%;
    }
}