:root {
    --background-color: #ebe9eb;
    --unmarked-button-color: #eaebef;
    --button-color: #fff;
    --input-color: #f6f6f6;
    --focus-input: #909090;
    --button-submit: linear-gradient(#FDC830, #ea5b0c);


    --title-color: #0b0c0e;
    --text-color: #505668;
    --unmarked-text-color: #505668;
    --button-text-color: #f6f6f6;
    --placeholder-color: #aaa;
    --text-color-marked: linear-gradient(#FDC830, #ea5b0c);
    
    --font: 'Roboto', sans-serif;
    --font-title:'Fredoka One', cursive;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-size: 1em;
    font-weight: 300;
}

body .container {
    width: 100vw;
    height: 100vh;
}

.container {
    display: grid;
    grid-template: 120px 1fr 30px / 1fr;
    grid-template-areas: "header"
                         "login"
                         "footer";
}

/**-----PAGE BACKGROUND IMAGE-----*/
.background-img {
    grid-area: header;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;

    background-image: url(../image/background-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 120px;
}

.logo {
    width: 100px;
}

/**-----FORM-----*/
.login {
    grid-area: login;
    background-color: #ff8d14;
}

/**-----FOOTER-----*/
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-color);
}

/*? ---------------TABLET---------------- */
@media screen and (min-width: 600px) {
    /**-----PAGE BACKGROUND IMAGE-----*/
    .background-image {
        align-items: flex-start;
        justify-content: center;
        padding-left: 0;
        padding-top: 50px;

        background-image: url(../image/background.png);
        background-size: 100% 100%;
    }

    .logo {
        width: 150px;
    }

}

/*? ---------------DESKTOP---------------- */
@media screen and (min-width: 1024px) {
    
}