:root {
    --main-text-color: #888;
    --form-text-color: #aaa;
    --button-text-color: #f6f6f6;
    --placeholder-color:#c3c3c3;
    --modal-color: #fff;
    --button-color: linear-gradient(#FDC830, #ea5b0c);
    --button-color-check: linear-gradient(#5be470, #23d83f);
    
    --main-font:'Balsamiq Sans', cursive;
    --form-font:'Roboto', sans-serif;
    --font-text:'Archivo Black', sans-serif;
}

/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de los contenedores */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-image: url(../image/background-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-row-gap: 20px;
}

.container >* {
    grid-column: 1 / 3;
}

/* Estilos del boton regresar */
.icon-back {
    width: 22px;
}

.button-back {
    width: 60px;
    height: 35px;
    margin: .6em 0;
    border: none;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;

    background-image: var(--button-color);
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
}

.button-return {
    display: none;
}

/* Estilos del logo*/

.logo {
    width: 170px;
    justify-self: center;
}

/* Estilos de los textos} */
.description-text {
    display: none;
}

/* Estilos del formulario */
.form-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: .7em;
    grid-column-gap: 1em;
}

.subtitle {
    font-size: 1.2em;
    font-family: var(--main-font);
    text-align: center;

    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label {
    font-size: 1em;
    font-family: var(--form-font);
    font-weight: 400;
    
    color: var(--form-text-color);
}

.form-block >* {
    grid-column: 1 / 3;
}

.label-floor {
    grid-column: 1 / 2 ;
    grid-row: 6 / 7;
}

.input-floor {
    grid-column: 1 / 2 ;
    grid-row: 7 / 8;
}

.label-depto {
    grid-column: 2 / 3 ;
    grid-row: 6 / 7;
}

.input-depto {
    grid-column: 2 / 3 ;
    grid-row: 7 / 8;
}

input {
    width: 100%;
    height: 2em;
    padding-left: 1em;
    font-size: 1em;
    font-family: var(--form-font);
    font-weight: 400;
    border-radius:.5em;
    outline: none;
    
    border: .5px solid #eee;
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
    color: var(--form-text-color);
}

::placeholder{
    font-size: 1em;
    color: var(--placeholder-color);
}

#button {
    grid-column: 1 / 3;
    grid-row: 10 / 11;
    width: 180px;
    height: 35px;
    margin: .6em 0;
    padding-left: 0;
    font-size: 1em;
    font-family: var(--main-font);
    justify-self: center;
    border: none;
    border-radius:.5em;
    transition: all .7s ease;

    color: var(--button-text-color);
    background-image: var(--button-color);
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
}


#button.click {
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 300ms ease;
    color: transparent;
    
}

#button.enviando {
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    animation: rotate 1.4s ease .5s infinite;
    
    background: transparent;
    border: 3px solid #FDC830;
    border-left-color: transparent;
    box-shadow: none;
}

@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
}

#button.enviado {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    box-shadow: none;
    animation: check .3s ease-in;

    background-image: var(--button-color-check);
}

@keyframes check {
    0%{
        transform: scale(0.9);
    }
}

#button.enviado::before {
    content: "";
    position: absolute;
    font-size: 20px;
}

/* Estilos del modal */
/* .popup .overlay{
    display: none;
}

.popup .content-modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    padding: 50% 15px;
    z-index: 2;
    text-align: center;
    display: none;

    background: var(--modal-color);
}

.popup.active .content-modal {
    transition: all 300ms ease-in-out;
    display: block;
}

.icon-alert {
    width: 100px;
}

.content-modal h2 {
    font-size: 23px;
    font-family: var(--main-font);

    color: var(--main-text-color);
}

.content-modal p{
    font-size: 20px;
    font-family: var(--form-font);
    font-weight: 400;

    color: var(--form-text-color);
}

.links {
    text-decoration: none;
}

.closet-btn {
    width: 180px;
    height: 35px;
    margin: .6em 0;
    font-size: 1em;
    font-family: var(--main-font);
    border: none;
    cursor: pointer;

    color: #fff;
    background-color: #00AF80;
}

.closet-btn,
.content-modal h2 {
    margin-top: 30px;
} */


/* Responsive table */
@media screen and (min-width: 768px) {
    /* Estilos de los contenedores */
    body {  
        background-image: url(../image/background-tablet.png);
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80px 50px 1fr;
        padding: 25px 45px;

        background-color: white;
        border: none;
        box-shadow: 0 3px 10px 0 rgba(55, 55, 55, 0.5);
    }

    /* Estilos del logo */
    .logo {
        width: 190px;
        align-self: center;
    }
    
    /* Estilos del texto */
    .description-text {
        display: block;
        font-size: 1.2em;
        font-family: var(--form-font);
        font-weight: 300;
        text-align: center;

        color: var(--main-text-color);
    }

    /* Estilos del formulario */
    .form-block {
        grid-row-gap: 1em;
    }

    .subtitle {
        font-size: 1.4em; 
    }

    label,
    input{
        font-size: 1.2em;
    }
    
    input {
        height: 2.2em;
        padding-left: 1.5em;
    }

    #button {
        grid-column: 1 / 2 ;
        width: 190px;
        height: 40px;
        font-size: 1.2em;
        margin-top: 1em;
    }

    /* Estilos del boton regresar */
    .button-back {
        display: none;
    }

    .link-return,
    .button-return {
        display: block;
        grid-column: 2 / 3 ;
        grid-row: 10 / 11;
    }

    .link-return {
        text-decoration: none;
    }

    .button-return {
        width: 190px;
        height: 40px;
        margin: 1em 0;
        padding-left: 0;
        font-size: 1.2em;
        font-family: var(--main-font);
        justify-self: center;
        border: none;
        border-radius:.5em;

        color: var(--button-text-color);
        background-image: var(--button-color);
        box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
    }
    

}

/* Responsive Desktop */
@media screen and (min-width: 1024px) {

    /* Estilos de los contenedores */
    body {
        background-image: url(image/background-desktop.png);
    }

    .container {
        width: 60vw;
        height: 80vh;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 0;
        border-radius: 1em;

        background-color: white;
        border: .5px solid #aaa;
        box-shadow: 0 0 20px 0 rgba(25, 25, 25, 0.8);
    }

    /* Estilos del logo y texto principal */
    .block-text-logo {
        grid-column: 1 / 2;
        align-self: center;
        padding: 0 40px 30px;

        border-right: 1px solid #aaa;
    }

    .logo {
        width: 150px;
        padding-top: 0;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 30px;
    }
    
    .welcome-text {
        display: block;
        margin-bottom: 20px;
        font-size: 2em;
        font-family: var(--font-text);
        text-transform: uppercase;
        text-align: center;

        color: var(--main-text-color);
    }

    span{
        background-image: linear-gradient(to left, #FDC830, #ea5b0c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .description-text{
        display: block;
        font-size: 1em;
        font-family: var(--form-font);
        font-weight: 300;
        text-align: center;

        color: var(--main-text-color);
    }

    /* Estilos del formulario */
    .form-block {
        grid-template-columns: repeat(2, .5fr);
        grid-column: 2 / 4;
        grid-row-gap: .7em;
        margin: 40px 40px 30px;
    }

    .subtitle{
        padding-top: 0;
        font-size: 1.5em;
    }

    label,
    input{
        font-size: 1.1em;
    }

    input{
        height: 2.2em;
    }

    .button {
        width: 140px;
        height: 37px;
        margin: .8em 0 0;
        font-size: 1.1em;
    }


}