:root {
    --main-text-color: #888;
    --form-text-color: #aaa;
    --button-text-color: #f6f6f6;
    --placeholder-color:#c3c3c3;
    --button-color: linear-gradient(#FDC830, #ea5b0c);
    
    --main-font:'Balsamiq Sans', cursive;
    --form-font:'Roboto', sans-serif;
    --font-text:'Archivo Black', sans-serif;
}

/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de los contenedores */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-image: url(image/background-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 17px;
}

.logo,
.welcome-text,
.description-text {
    grid-column: 1 / 3;
}

.register-button {
    grid-column: 1 / 2;
}

.query-button {
    grid-column: 2 / 3;
}

/* Estilos del logo*/
.logo {
    width: 130px;
    justify-self: center;
}

/* Estilos de los textos*/
.welcome-text {
    font-size: 2em;
    font-family: var(--font-text);
    text-transform: uppercase;
    text-align: center;
    line-height: 37px;

    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description-text{
    font-size: 1em;
    font-family: var(--form-font);
    font-weight: 300;
    text-align: center;

    color: var(--main-text-color);
}

/* Estilos de los botones*/
.register-button,
.query-button {
    width: 100px;
    height: 30px;
    margin: .6em 0;
    padding-left: 0;
    justify-self: center;
    font-size: .8em;
    font-family: var(--main-font);
    border: none;
    border-radius: 1.5em;

    background-image: var(--button-color);
    color: var(--button-text-color);
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
}

/* Responsive table */
@media screen and (min-width: 768px) {

/* Estilos de los contenedores */
.container {
    grid-row-gap: 30px;
    padding: 25px 45px;
    border-radius: 1em;

    background-color: white;
    border: none;
    box-shadow: 0 3px 10px 0 rgba(55, 55, 55, 0.5);
}

/* Estilos del logo */
.logo {
    width: 160px;
}

/* Estilos de los textos*/
.welcome-text {
    font-size: 2.5em;
    line-height: 45px;
}

.description-text{
    font-size: 1.5em;
}

/* Estilos de los botones*/
.register-button,
.query-button {
    width: 165px;
    height: 40px;
    font-size: 1.2em;
    border-radius: 1.5em;
}


}



