:root{
    --main-text-color: #888;
    --secondary-text-color: #5d5d5d;
    --button-text-color: #f6f6f6;
    --placeholder-color:#a9b4b0;
    --button-color: linear-gradient(#FDC830, #ea5b0c);

    --main-font:'Quicksand', sans-serif;
    --secundary-font:'Dosis', sans-serif;
}

/* Estilos Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de los contenedores */
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-image: url(image/fondo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2em;

}

.container >*{
    grid-column: 1 / 3;
}

/* Estilos del logo y texto principal */
.logo{
    width: 130px;
    padding-top: 1.5em;
    justify-self: center;
}

.welcome-text{
    display: none;
}

/* Estilos del formulario */
.form-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: .7em;
}

.subtitle{
    font-size: 1.4em;
    font-family: var(--main-font);
    justify-self: center;

    color: var(--secondary-text-color);    
}

label{
    font-size: 1.2em;
    padding-left: 2em;
    font-family: var(--secundary-font);
    font-weight: 500;

    color: var(--main-text-color);
}

.form-block >*{
    grid-column: 1 / 3;
}

.label-floor{
    grid-column: 1 / 2 ;
    grid-row: 6 / 7;
}

.input-floor{
    width: 60%;
    grid-column: 1 / 2 ;
    grid-row: 7 / 8;
}
    
.label-depto{
    grid-column: 2 / 3 ;
    grid-row: 6 / 7;
}

.input-depto{
     width: 60%;
    grid-column: 2 / 3 ;
    grid-row: 7 / 8;
}

input{
    width: 80%;
    height: 2.3em;
    padding-left: 1em;
    font-size: 1em;
    font-family: var(--secundary-font);
    font-weight: 500;
    justify-self: center;
    border-radius: 1.5em;
    outline: none;

    border: .5px solid #eee;
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
    color: var(--main-text-color);
}

::placeholder{
    font-size: 1em;
    color: var(--placeholder-color);
}

.button{
    width: 130px;
    height: 2.3em;
    margin-top: 1em;
    padding-left: 0;
    font-family: var(--main-font);
    font-weight: 700;
    border: none;
    
    background-image: var(--button-color);
    color: var(--button-text-color);
}
