:root{
    --main-block-color: linear-gradient(#B06AB3, #4568DC);
    --color-block-form: #fff;
    --color-text-form: #2e2b32;
    --button-color: #4568DC;
    --color-text-button: #fff;

    --main-title-size: 3em;
    --secondary-text-size: 13px;
    --text-weight:300;
    --font-title:'Fjalla One', sans-serif;
    --font-text: 'Open Sans', sans-serif;
}

/* general styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: var(--font-text);
    font-size: var(--secondary-text-size);
    font-weight: var(--text-weight);
    color: var(--color-text-form);
    background-image: var(--main-block-color);
}

/* container */
.container{
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 2fr;
    background-color: var(--color-block-form);
}

/* main text block */
.title, .subtitle{
    text-align: center;
    color: var(--color-text-form);
}

.title{
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
}

/* section form */
.form_block{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form_box{
    width: 95%;
    height: 30px;
    border-width: .8px;
    border-color: transparent transparent #d2d6cf;
}

.label{
    margin-bottom: 13px;
    padding-left: 1em;
}

.button_form{
    width: 115px;
    height: 35px;
    margin: 12px auto 0;
    border: none;
    border-radius: 20px;
    background-color: var(--button-color);
    color: var(--color-text-button);
}