:root {
    --main-text-color: #888;
    --secondary-text-color: #5d5d5d;
    --button-text-color: #f6f6f6;
    --placeholder-color:#a9b4b0;
    --button-color: linear-gradient(#FDC830, #ea5b0c);
    
    --main-font:'Quicksand', sans-serif;
    --secundary-font:'Dosis', sans-serif;
}

/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de los contenedores */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-image: url(image/background-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-row-gap: 10px;
}

.container >* {
    grid-column: 1 / 3;
}

/* Estilos del logo y texto principal */
.block-text-logo{
    justify-self: center;
}

.logo {
    width: 130px;
    padding-top: 1.5em;
}

.welcome-text {
    display: none;
}

/* Estilos del formulario */
.form-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: .5em;
}

.subtitle {
    font-size: 1.5em;
    font-family: var(--main-font);
    font-weight: 400;
    justify-self: center;
    
    color: var(--secondary-text-color);    
}

label {
    font-size: 1em;
    font-family: var(--secundary-font);
    font-weight: 500;
    
    color: var(--main-text-color);
}

.form-block >* {
    grid-column: 1 / 3;
}

.label-floor {
    grid-column: 1 / 2 ;
    grid-row: 6 / 7;
}

.input-floor {
    width: 80%;
    grid-column: 1 / 2 ;
    grid-row: 7 / 8;
}

.label-depto {
    grid-column: 2 / 3 ;
    grid-row: 6 / 7;
}

.input-depto {
    width: 100%;
    grid-column: 2 / 3 ;
    grid-row: 7 / 8;
}

input {
    width: 100%;
    height: 2em;
    padding-left: 1em;
    font-size: 1em;
    font-family: var(--secundary-font);
    font-weight: 500;
    border-radius: 1.5em;
    outline: none;
    
    border: .5px solid #eee;
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
    color: var(--main-text-color);
}

::placeholder{
    font-size: 1em;
    color: var(--placeholder-color);
}

.button {
    width: 115px;
    height: 35px;
    margin: .6em 0;
    padding-left: 0;
    justify-self: center;
    font-family: var(--main-font);
    /* font-weight: 700; */
    border: none;
    
    background-image: var(--button-color);
    color: var(--button-text-color);
}

/* Responsive table */
@media screen and (min-width: 768px) {

    /* Estilos del logo y texto principal */
    .logo {
        width: 150px;
        padding-top: 3em;
    }
    
    /* Estilos del formulario */
    label,
    input{
        font-size: 1.5em;
    }
    
    input {
        padding-left: 1.5em;
    }

    .button {
        width: 200px;
        height: 55px;
        margin: 1.2em 0;
    }

}

/* Responsive Desktop */
@media screen and (min-width: 1024px) {

    /* Estilos de los contenedores */
    body {
        background-image: url(image/background-desktop.png);
    }

    .container {
        grid-template-columns: .7fr 1fr;
        grid-row-gap: 0;
    }

    /* Estilos del logo y texto principal */
    .block-text-logo {
        grid-column: 1 / 2;
        align-self: center;
    }

    .logo {
        width: 140px;
        padding-top: 0;
    }
    
    .welcome-text {
        display: block;
        padding: 30px 40px 0 0;
        text-align: center;
        font-size: 1.3em;
        font-family: var(--secundary-font);
        font-weight: 500;

        color: var(--main-text-color);
    }

    /* Estilos del formulario */
    .form-block {
        grid-template-columns: .5fr 1fr;
        grid-column: 2 / 4;
        grid-row-gap: .7em;
    }

    .subtitle{
        margin-bottom: 10px;
        justify-self: start;
    }
    label,
    input{
        font-size: 1.3em;
    }

    input{
        height: 1.8em;
        width: 80%;
    }

    .input-floor,
    .input-depto {
        width: 70%;
    }

    .button {
        width: 150px;
        height: 40px;
        margin: .8em 0;
    }

















    
}