:root{
    --main-block-color: #f3f7ee;
    --color-block-form: linear-gradient(#FDC830, #ea5b0c);
    --color-text: #a9b4b0;
    --color-text-form: #f3f7ee;
    --button-color: #f3f7ee;
    --color-text-button: #ea5b0c;

    --main-title-size: 3em;
    --secondary-text-size: 13px;
    --text-weight:300;
    --font-title:'Fjalla One', sans-serif;
    --font-text: 'Open Sans', sans-serif;
}

/* general styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 3fr;
    font-family: var(--font-text);
    font-size: var(--secondary-text-size);
    font-weight: var(--text-weight);
    color: var(--color-text-form);
    background-image: var(--main-block-color);
}


/* seccion logo and text block */
.container_logo_text{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo{
    width: 80px;
    margin-bottom: 2em;
}

.title, .subtitle{
    color: var(--color-text);
    text-align: center;
}

.title{
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #343b39;
}

/* section form */
.container_form{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-image: var(--color-block-form);
}

.form_block{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form_box{
    width: 100%;
    height: 30px;
    border-width: .8px;
    background-color: transparent;
    border-color: transparent transparent #f3f7ee;
}

.label{
    margin: 0 30px 15px;
}

.label:first-child{
    margin-top: 30px;
}

.button_form{
    width: 115px;
    height: 35px;
    margin: 12px auto 0;
    border: none;
    border-radius: 20px;
    background-color: var(--button-color);
    color: var(--color-text-button);
    box-shadow: 2px 2px 6px rgba(0,0,0, 0.5);
}

/* styles responsive */
@media screen and (min-width:768px){
body{
    grid-template-rows: 3fr 5fr;
}

/* seccion logo and text block */
.logo{
    width: 100px;
}

.title{
    font-size: 3.5em;
}

.subtitle{
    font-size: 1.8em;
}

/* section form */

.container_form{
    width: 90vw;
    height: 67vh;
    margin: auto;
}

.form_box{
    height: 50px;
    border-width: 1.5px;
}

.label{
    font-size: 1.7em;
    margin: 0 60px 25px;
}

.label:first-child{
    margin-top: 40px;
}

.button_form{
    width: 200px;
    height: 55px;
    margin: 20px auto 0;
    border-radius: 35px;
    font-size: 2em;
}

}


