:root {
    --main-text-color: #888;
    --button-text-color: #f6f6f6;
    --placeholder-color:#c3c3c3;
    --footer-color:#2a2a2a;
    --button-color: linear-gradient(#FDC830, #ea5b0c);
    --font:'Roboto', sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font);

    color: var(--main-text-color);
    background-image: url(../image/background-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* -----------Estilo del contenedor----------- */
.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 2em;
}

/* ------------Estilos del header-------------- */
.logotype {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

/* ------------Estilos del main-------------- */
.form-container {
    display: flex;
    margin: 0 200px;

    box-shadow: 0 3px 10px 0 rgba(55, 55, 55, 0.5);
}

/* textos del formulario */
.form-information {
    width: 50%;
    padding: 2em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-right: 4px solid #f6f6f6;
}

.title {
    font-size: 2em;
    font-family: 'Titan One', cursive;
    margin-bottom: 1em;

    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    font-size: 1.3em;
    font-weight: 300;

    --main-text-color: #888;
}

/* -------------estilos de los tabs del formulario-------------- */
.form-box {
    width: 50%;
    height: 565px;
    padding: 2em 5em;
}

.form-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
}

.form-header > button {
    width: 250px;
    height: 40px;
    font-size: .9em;
    font-family: var(--font);
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: .7em .7em 0 0;
    outline: none;
    cursor: pointer;

    color: var(--placeholder-color);
    background-color: #f6f6f6;
}

.form-box.register .show-register {
    font-size: 1em;

    background-color: #fff;
    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: -5px -6px 7px -5px rgba(25, 25, 25, 0.2);
}

.form-box.query .show-query {
    font-size: 1em;

    background-color: #fff;
    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 4px -5px 5px -5px rgba(25, 25, 25, 0.5);
}

/* --------------estilos del formulario de registro-------------- */
.form-box .form-elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr repeat(6, 3fr);
    grid-gap: 1em;
    padding: 0 1em;
}

.form-elements .subtitle {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-family: var(--font);
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    align-self: flex-end;

    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-elements .name {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.form-elements .document {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.form-elements .email {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.form-elements .floor {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.form-elements .depto {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.form-elements .reference {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}

.form-element > label {
    font-size: 1.1em;
    font-weight: 400;
    
    color: var(--form-text-color);
}

.form-element > input {
    width: 100%;
    height: 2.3em;
    padding-left: 1.8em;
    margin-top: 4px;
    font-size: 1.1em;
    font-family: var(--font);
    font-weight: 300;
    border-radius:.5em;
    outline: none;
    
    border: .5px solid #eee;
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
    color: var(--form-text-color);
}

::placeholder{
    color: var(--placeholder-color);
}

.form-element {
    position: relative;
}

.form-element .fas {
    position: absolute;
    top: 33px;
    left: 8px;
}

.form-element .fa-user,
.fa-at,
.fa-id-card,
.fa-building,
.fa-money-check-alt {
    color: var(--placeholder-color);
}

#button {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
    width: 175px;
    height: 35px;
    font-size: 1.1em;
    font-family: var(--font);
    font-weight: 400;
    border: none;
    border-radius:.5em;

    color: var(--button-text-color);
    background-image: var(--button-color);
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
}

/*------------ Estilos del formulario de consulta-------------- */
.form-box.query .form-element:nth-child(2),
.form-box.query .form-element:nth-child(4),
.form-box.query .form-element:nth-child(5),
.form-box.query .form-element:nth-child(6) {
    display: none;
}

.form-box.query .form-elements {
    grid-template-rows: 2fr repeat(6, 3fr);
    grid-gap: 1em;
}

.form-box.query .form-elements .document {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.form-box.query .form-elements .reference {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

/*------------ Estilos del footer-------------- */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;

    color: var(--footer-color);
}