/* Estilos Generales */
:root {
    --main-text-color: #888;
    --button-text-color: #f6f6f6;
    --placeholder-color:#c3c3c3;
    --footer-color:#2a2a2a;
    --button-color: linear-gradient(#FDC830, #ea5b0c);
    --font:'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de los contenedores */
body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font);
    font-size: 1em;
    font-weight: 300;

    color: var(--main-text-color);
}

.container {
    min-height: 100vh;
    padding: 3em 3em 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 2fr .1fr;
    grid-template-areas: 
        "logo"
        "form"
        "footer";
    grid-gap: .8rem;

    background-color: #fff;
    background-image: url(../image/background-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* Estilos del logotipo y titulo */
.logotype {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logo {
    width: 130px;
}

/* Estilos del texto informativo */
.information-text {
    display: none;
}

/* Estilos del formulario*/
.form-box {
    grid-area: form;
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.form-header > button {
    width: 70px;
    height: 1.6em;
    margin-left: 7px;
    font-family: var(--font);
    text-transform: uppercase;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;

    color: var(--main-text-color);
    background-color: transparent;
}

.separator {
    font-size: .8em;
    margin-left: 7px;
}

.form-box.register .show-register {
    width: 80px;
    font-weight: 400;
    border-image: linear-gradient(to left, #FDC830, #ea5b0c);
    border-image-slice: 1;

    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 4px 5px 5px -4px rgba(25, 25, 25, 0.5);
}

.form-box.query .show-query {
    width: 80px;
    font-weight: 400;
    border-image: linear-gradient(to left, #FDC830, #ea5b0c);
    border-image-slice: 1;

    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 4px 5px 5px -4px rgba(25, 25, 25, 0.5);
}

.form-elements {
    height: 100%;;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .05fr repeat(6, .14fr);
    grid-gap: .5em;
}

.form-elements .subtitle {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    align-self: center;
}

.form-elements .name {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.form-elements .document {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.form-elements .email {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.form-elements .floor {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.form-elements .depto {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.form-elements .reference {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}

.form-element > label {
    font-size: .8em;
    font-weight: 400;
    
    color: var(--form-text-color);
}

/* Estilos del formulario de consulta */
.form-box.query .form-element:nth-child(2),
.form-box.query .form-element:nth-child(4),
.form-box.query .form-element:nth-child(5),
.form-box.query .form-element:nth-child(6) {
    display: none;
}

.form-box.query .form-elements {
    grid-template-rows: .05fr repeat(3, .14fr);
}

.form-box.query .form-elements .document {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.form-box.query .form-elements .reference {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.form-element > input {
    width: 100%;
    height: 2em;
    padding-left: 1.8em;
    margin-top: 4px;
    font-size: 1em;
    font-family: var(--font);
    font-weight: 300;
    /* border-radius:.5em; */
    outline: none;
    
    border: .5px solid #eee;
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
    color: var(--form-text-color);
}

::placeholder{
    color: var(--placeholder-color);
}

.form-element .fas {
    position: absolute;
    top: 31px;
    left: 7px;
}

.form-element .fa-user,
.fa-at,
.fa-id-card,
.fa-building,
.fa-money-check-alt {
    color: var(--placeholder-color);
}

#button {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
    width: 175px;
    height: 35px;
    font-family: var(--font);
    font-weight: 400;
    border: none;

    color: var(--button-text-color);
    background-image: var(--button-color);
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
}

/* Estilos del footer*/
.footer {
    grid-area: footer;
    font-size: .8em;
    text-align: center;
    align-self: flex-end;

    color: var(--footer-color);
}

/* @media only screen and (min-width: 768px){
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: .2fr .2fr 2fr;
        grid-template-areas: 
            "logo logo logo logo"
            "information information buttons buttons"
            "information information form form";
    }

} */

@media only screen and (min-width: 1024px){
    
}