:root {
    --background-color: #ebe9eb;
    --button-color: linear-gradient(#FDC830, #ea5b0c);
    --unmarked-button-color: #f6f6f6;
    --input-color: #f6f6f6;
    --focus-input: #3a3e4b;

    --title-color: #0b0c0e;
    --text-color: #505668;
    --unmarked-text-color: #505668;
    --button-text-color: #f6f6f6;
    --text-color-marked: linear-gradient(#FDC830, #ea5b0c);
    
    --font: 'Roboto', sans-serif;
    --font-title:'Fredoka One', cursive;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--font);
    font-size: 1em;
    font-weight: 300;
}

/**-----MAIN CONTAINER-----*/
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 100px 1fr 30px / 1fr;
    grid-template-areas: "background"
                         "form"
                         "footer";
}

/**-----PAGE BACKGROUND IMAGE-----*/
.background-image {
    grid-area: background;

    background-image: url(../image/background-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

/**-----DESCRIPTIVE TEXT-----*/
.text-description {
    display: none;
}

/**-----FORM-----*/
.form {
    grid-area: form;
    background-color: #4ad59e;
}

/**-----FOOTER-----*/
.footer {
    grid-area: footer;
    background-color: #26a473;
}

/*? ---------------TABLET---------------- */
@media screen and (min-width: 600px) {
    /**-----MAIN CONTAINER-----*/
    .container {
        grid-template: 1fr 30px / .5fr 1fr;
        grid-template-areas:"background form"
                            "background footer";
    }
}

/*? ---------------DESKTOP---------------- */
@media screen and (min-width: 1024px) {
    /**-----MAIN CONTAINER-----*/
    .container {
        grid-template: 1fr 30px / .5fr .5fr 1fr;
        grid-template-areas:"background text form"
                            "background footer footer";
    }

    /**-----DESCRIPTIVE TEXT-----*/
    .text-description {
        grid-area: text;
        display: block;
        background-color: #8fe5c3;
    }
}