:root {
    --background-color: #ebe9eb;
    --button-color-focus: linear-gradient(#FDC830, #ea5b0c);
    --unmarked-button-color: #eaebef;
    --button-color: #fff;
    --input-color: #f6f6f6;
    --focus-input: #3a3e4b;

    --title-color: #0b0c0e;
    --text-color: #505668;
    --unmarked-text-color: #505668;
    --button-text-color: #f6f6f6;
    --text-color-marked: linear-gradient(#FDC830, #ea5b0c);
    
    --font: 'Roboto', sans-serif;
    --font-title:'Fredoka One', cursive;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--font);
    font-size: 1em;
    font-weight: 300;
}

/**-----MAIN CONTAINER-----*/
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 120px 1fr 30px / 1fr;
    grid-template-areas: "background"
                         "form"
                         "footer";

    background-color: #f9f9f9;
}

/**-----PAGE BACKGROUND IMAGE-----*/
.background-image {
    grid-area: background;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 132px;
}

/**-----DESCRIPTIVE TEXT-----*/
.text-description {
    display: none;
}

/**-----FORM-----*/
.form {
    grid-area: form;
    display: flex;
    align-items: center;
    
}

.form-group {
    width: 100%;
    display: grid;
    grid-template: repeat(9, 1fr) / repeat(2, 1fr);
    grid-gap: 10px;
}

.form-header,
.subtitle,
.input-name,
.input-document,
.input-email,
.input-reference,
.input-submit {
    grid-column: 1 / 3;
}

/*-----form header----*/
.form-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-header > button {
    width: 90px;
    height: 25px;
    border-radius: .5em;
    border: none;
    cursor: pointer;

    background-color: var(--unmarked-button-color);
}

.form-header button > span {
    font-family: var(--font);
    font-size: 1em;
    font-weight: 500;

    color: var(--unmarked-text-color);
}

.form.register .form-header button.show-register > span,
.form.query .form-header button.show-query > span {
    font-size: 1.2em;
    font-weight: 700;
    transition: all 500ms ease;
    
    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form.register .form-header button.show-register,
.form.query .form-header button.show-query  {
    width: 95px;
    height: 28px;
    
    background-color: var(--button-color);
    box-shadow: 3px 3px 10px -5px rgba(25, 25, 25, 0.2);
}


/**-----FOOTER-----*/
.footer {
    grid-area: footer;
    background-color: #26a473;
}

/*? ---------------TABLET---------------- */
@media screen and (min-width: 600px) {
    /**-----MAIN CONTAINER-----*/
    .container {
        grid-template: 1fr 30px / .5fr 1fr;
        grid-template-areas:"background form"
                            "background footer";
    }

    /**-----PAGE BACKGROUND IMAGE-----*/
    .logo {
        width: 100%;
    }

    .form-header {
        justify-content: space-between;
    }
}


/*? ---------------DESKTOP---------------- */
@media screen and (min-width: 1024px) {
    /**-----MAIN CONTAINER-----*/
    .container {
        grid-template: 1fr 30px / 260px .5fr 1fr;
        grid-template-areas:"background text form"
                            "background footer footer";
    }

    /**-----DESCRIPTIVE TEXT-----*/
    .text-description {
        grid-area: text;
        display: block;
        background-color: #8fe5c3;
    }
}