:root {
    --background-color: #ebe9eb;
    --unmarked-button-color: #eaebef;
    --button-color: #fff;
    --input-color: #f6f6f6;
    --focus-input: #505668;
    --button-submit: linear-gradient(#FDC830, #ea5b0c);


    --title-color: #0b0c0e;
    --text-color: #505668;
    --unmarked-text-color: #505668;
    --button-text-color: #f6f6f6;
    --placeholder-color: #aaa;
    --text-color-marked: linear-gradient(#FDC830, #ea5b0c);
    
    --font: 'Roboto', sans-serif;
    --font-title:'Fredoka One', cursive;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--font);
    font-size: 1em;
    font-weight: 300;
}

/**-----MAIN CONTAINER-----*/
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 120px 1fr 30px / 1fr;
    grid-template-areas: "background"
                         "form"
                         "footer";

    background-color: #f9f9f9;
}

/**-----PAGE BACKGROUND IMAGE-----*/
.background-image {
    grid-area: background;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 132px;
}

/**-----DESCRIPTIVE TEXT-----*/
.text-description {
    display: none;
}

/**-----FORM-----*/
.form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;     
}

.form-group {
    width: 80%;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 28px;
}

.form-header,
.subtitle,
.input-name,
.input-document,
.input-email,
.input-reference,
.input-submit {
    grid-column: 1 / 3;
}

/*-----form header----*/
.form-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-header > button {
    width: 90px;
    height: 25px;
    border-radius: .5em;
    border: none;
    cursor: pointer;

    background-color: var(--unmarked-button-color);
}

.form-header button > span {
    font-family: var(--font);
    font-size: 1em;
    font-weight: 500;

    color: var(--unmarked-text-color);
}

.form.register .form-header button.show-register > span,
.form.query .form-header button.show-query > span {
    font-size: 1.2em;
    font-weight: 700;
    transition: all 500ms ease;
    
    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form.register .form-header button.show-register,
.form.query .form-header button.show-query  {
    width: 95px;
    height: 28px;
    
    background-color: var(--button-color);
    box-shadow: 3px 3px 10px -5px rgba(25, 25, 25, 0.2);
}

/* ----- title ----- */
.subtitle {
    font-family: var(--font-title);
    text-transform: uppercase;
    text-align: center;

    color: var(--text-color);
}

/* ----- form elements ----- */
.form-element {
    position: relative;
    width: 100%;
    align-self: center;
    transition: all 500ms ease-in-out;
}

.input-box {
    position: relative;
    width: 100%;
    height: 2.2em;
    padding-left: 10px;
    font-size: .9em;
    border-radius: .5em;
    transition: .5s ease-in-out;

    color: var(--input-text-color);
    border: 1px solid var(--input-color);
    box-shadow: 9px 3px 10px -5px rgba(25, 25, 25, 0.2);
}

.input-box:focus {
    border: 2px solid var(--focus-input);
}

.form-label {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 32px;
    transition: .5s ease;

    color: var(--placeholder-color);
}

.input-box,
.form-label {
    padding-left: 15px;
}

.input-box:focus + .form-label,
.input-box:valid + .form-label {
    top: -25px;
    padding-left: 0;
    font-size: .8em;
    font-weight: 400;

    color: var(--text-color);
}

.form-label > span {
    transition: .5s ease-in-out;
}

.input-submit {
    display: flex;
    justify-content: center;
}

#submit-btn {
    width: 180px;
    height: 2em;
    font-family: var(--font);
    font-size: 1em;
    font-weight: 400;
    border-radius: .5em;
    border: none;
    outline: none;
    cursor: pointer;

    color: var(--button-text-color);
    background-image: var(--button-submit);
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
}

/*------------ FORM QUERY-------------- */
.form.query .form-element:nth-child(3),
.form.query .form-element:nth-child(5),
.form.query .form-element:nth-child(6),
.form.query .form-element:nth-child(7) {
    display: none;
}

/**-----FOOTER-----*/
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-color);
}

/*? ---------------TABLET---------------- */
@media screen and (min-width: 600px) {
    /**-----MAIN CONTAINER-----*/
    .container {
        grid-template: 1fr 40px / .5fr 1fr;
        grid-template-areas:"background form"
                            "background footer";
    }

    /**-----PAGE BACKGROUND IMAGE-----*/
    .logo {
        width: 100%;
    }

    /**-----FORM-----*/
    .form-group {
        width: 70%;
        grid-column-gap: 25px;
        grid-row-gap: 35px;
    }

    /*-----form header----*/
    .form-header {
        justify-content: space-between;
    }

    /* ----- title ----- */
    .subtitle {
        font-size: 1.2em;
    }

    .input-box {
        height: 2.5em;
        font-size: 1em;
    }

    .form-label {
        line-height: 42px;
    }
    
    .input-box:focus + .form-label,
    .input-box:valid + .form-label {
        top: -31px;
        font-size: .9em;
    }
    
    #submit-btn {
        width: 200px;
        height: 2.3em;
    }
    
}


/*? ---------------DESKTOP---------------- */
@media screen and (min-width: 1024px) {
    /**-----MAIN CONTAINER-----*/
    .container {
        grid-template: 1fr 30px / 260px .5fr 1fr;
        grid-template-areas:"background text form"
                            "background text footer";
    }

    /**-----DESCRIPTIVE TEXT-----*/
    .text-description {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;

        background-color: #fff;
    }

    .description-title {
        font-family: var(--font-title);
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 32px;
        margin-bottom: 20px;

        color: var(--title-color);
    }

    .description {
        font-size: 1.1em;
        color: var(--text-color);
    }

    /**-----FORM-----*/
    .form-group {
        width: 65%;
    }
    
}