/* Estilos Generales */
:root {
    --main-text-color: #888;
    --button-text-color: #f6f6f6;
    --placeholder-color:#c3c3c3;
    --button-color: linear-gradient(#FDC830, #ea5b0c);
    --font:'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de los contenedores */
body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font);
    font-size: 1em;
    font-weight: 300;

    color: var(--main-text-color);
}

.container {
    min-height: 100vh;
    padding: 3em 3em 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 2.5fr .2fr;
    grid-template-areas: 
        "logo"
        "form"
        "footer";
    grid-gap: .5rem;

    background-color: #fff;
}

/* Estilos del logotipo y titulo */
.logotype {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 110px;
}

.title {
    font-size: .7em;
    font-weight: 700;

    color: #444;
}

/* Estilos del texto informativo */
.information-text {
    display: none;
}

/* Estilos del formulario*/
.form-box {
    grid-area: form;
}

.form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.form-header > a {
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;

    color: var(--form-text-color);
}

.form-box.register .show-register {
    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-box.query .show-query {
    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-elements {
    height: 100%;;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .5fr repeat(6, .8fr);
    grid-gap: .5em;
}

.form-elements .subtitle {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    align-self: center;
}

.form-elements .name{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.form-elements .document {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.form-elements .email {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.form-elements .floor {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.form-elements .depto {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.form-elements .reference {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}

.form-elements .btn-register {
    grid-column: 1 / 3;
    align-self: center;
}

.form-element > label {
    font-size: .8em;
    font-weight: 400;
    
    color: var(--form-text-color);
}

.form-element > input {
    width: 100%;
    height: 1.8em;
    padding-left: .8em;
    margin-top: 4px;
    font-size: 1em;
    font-family: var(--font);
    font-weight: 300;
    border-radius:.5em;
    outline: none;
    
    border: .5px solid #eee;
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
    color: var(--form-text-color);
}

::placeholder{
    color: var(--placeholder-color);
}

#button {
    width: 100%;
    height: 2em;
    font-size: 1em;
    font-family: var(--font);
    font-weight: 400;
    border: none;
    border-radius:.5em;

    color: var(--button-text-color);
    background-image: var(--button-color);
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
}

/* Estilos del footer*/
.footer {
    grid-area: footer;
    font-weight: 400;
    text-align: center;
    align-self: flex-end;
}

/* @media only screen and (min-width: 768px){
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: .2fr .2fr 2fr;
        grid-template-areas: 
            "logo logo logo logo"
            "information information buttons buttons"
            "information information form form";
    }

} */


/* .btn-header {
    text-decoration: none;
    position: relative;
    font-weight: 400;

    color: var(--main-text-color);
}

.btn-header::after {
    content: "";
    width: 0%;
    height: 7px;
    bottom: 0%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    transition: all 500ms ease;

    background: #ea5b0c;
    background: -webkit-linear-gradient(to left, #FDC830, #ea5b0c);
    background: linear-gradient(to left, #FDC830, #ea5b0c);
}

.btn-header:hover::after {
    left: 0;
    width: 100%;
} */