/* Estilos Generales */
:root {
    --main-text-color: #888;
    --button-text-color: #f6f6f6;
    --placeholder-color:#c3c3c3;
    --footer-color:#2a2a2a;
    --button-color: linear-gradient(#FDC830, #ea5b0c);
    --font:'Roboto', sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------Estilos de los contenedores----------- */
body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font);
    font-size: 1em;
    font-weight: 300;

    color: var(--main-text-color);
    background-image: url(../image/background-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .35fr 2fr .12fr;
    grid-template-areas: 
        "logo"
        "form"
        "footer";
    grid-gap: .8rem;
    padding: 0 3em;
}

/* ------------Estilos del logotipo-------------- */
.logotype {
    grid-area: logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 80px;
}

/* -----------Estilos del texto informativo------------- */
.information-text {
    display: none;
}

/* --------------estilos del formulario-------------------- */
/* estilos de container */
.form-box {
    grid-area: form;
}

/* -------------estilos de los tabs del formulario-------------- */
.form-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-header > button {
    width: 100%;
    height: 35px;
    font-size: .7em;
    font-family: var(--font);
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: .7em .7em 0 0;
    outline: none;
    cursor: pointer;

    color: var(--placeholder-color);
    background-color: #f6f6f6;
}

.form-box.register .show-register {
    font-size: .9em;

    background-color: #fff;
    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: -5px -6px 7px -5px rgba(25, 25, 25, 0.2);
}

.form-box.query .show-query {
    font-size: .9em;

    background-color: #fff;
    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: -4px -5px 5px -5px rgba(25, 25, 25, 0.5);
}

/* --------------estilos del formulario de registro-------------- */
.form-box .form-elements {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr repeat(6, 3fr);
    grid-gap: 1em;
}

.form-elements .subtitle {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    align-self: flex-end;
}

.form-elements .name {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.form-elements .document {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.form-elements .email {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.form-elements .floor {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.form-elements .depto {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.form-elements .reference {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}

.form-element > label {
    font-size: .8em;
    font-weight: 400;
    
    color: var(--form-text-color);
}

.form-element > input {
    width: 100%;
    height: 2em;
    padding-left: 1.8em;
    margin-top: 4px;
    font-size: 1em;
    font-family: var(--font);
    font-weight: 300;
    border-radius:.5em;
    outline: none;
    
    border: .5px solid #eee;
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
    color: var(--form-text-color);
}

::placeholder{
    color: var(--placeholder-color);
}

.form-element {
    position: relative;
}

.form-element .fas {
    position: absolute;
    top: 31px;
    left: 7px;
}

.form-element .fa-user,
.fa-at,
.fa-id-card,
.fa-building,
.fa-money-check-alt {
    color: var(--placeholder-color);
}

#button {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
    width: 175px;
    height: 35px;
    font-family: var(--font);
    font-weight: 400;
    border: none;
    border-radius:.5em;

    color: var(--button-text-color);
    background-image: var(--button-color);
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
}

/*------------ Estilos del formulario de consulta-------------- */
.form-box.query .form-element:nth-child(2),
.form-box.query .form-element:nth-child(4),
.form-box.query .form-element:nth-child(5),
.form-box.query .form-element:nth-child(6) {
    display: none;
}

.form-box.query .form-elements {
    grid-template-rows: 2fr repeat(6, 3fr);
    grid-gap: 1em;
}

.form-box.query .form-elements .document {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.form-box.query .form-elements .reference {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}


/* Estilos del footer */
.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;

    color: var(--footer-color);
}

/* ---------------Responsive Tablet---------------- */
@media only screen and (min-width: 768px){
    body {
        font-size: 1.2em;

        background-image: url(../image/background-tablet.png);
    }

    .container {
        grid-template-rows: .5fr 2fr .2fr;
        grid-gap: 1rem;
        padding: 0 4em;
    }

    /* ------------Estilos del logotipo-------------- */
    .logo {
        width: 95px;
    }

    
    /* -------------estilos de los tabs del formulario-------------- */
    .form-box {
        box-shadow: 0 10px 10px -3px rgba(55, 55, 55, 0.6);
    }

    .form-header > button {
        height: 45px;
        font-size: .8em;
    }

    .form-box.register .show-register {
        box-shadow: -5px -6px 7px -5px rgba(25, 25, 25, 0.2);
    }

    .form-box.query .show-query {
        box-shadow: 5px -6px 7px -5px rgba(25, 25, 25, 0.2);
    }

     /* --------------estilos del formulario de registro-------------- */
     .form-box .form-elements {
        grid-template-rows: repeat(7, 4fr);
        grid-gap: 28px; 
    }

    .form-elements .subtitle {
        font-size: 20px;
    }

    .form-element {
        padding: 0 3em;
    }

    .form-element.depto {
        padding-left: 0;
    }

    .form-element.depto .fas {
        top: 36px;
        left: 10px;
    }

    .form-element.floor {
        padding-right: 0;
    }

    .form-element .fas {
        top: 36px;
        left: 66px;
    }
    
    #button {
        width: 250px;
        height: 38px;
        font-size: .9em;
        margin-top: 1em;
        border-bottom: none;
    }

    /*------------ Estilos del formulario de consulta-------------- */
    .form-box.query .form-elements {
        grid-template-rows: repeat(7, 4fr);
        grid-gap: 28px;
    }
}