:root {
    --main-text-color: #888;
    --color-secundario: #ea5b0c;
    --input-text-color: #aaa;
    --button-text-color: #f6f6f6;
    --button-header-form-color: #ccc;
    --input-color: #ddd;

    --footer-color:#2a2a2a;
    --button-color: linear-gradient(#FDC830, #ea5b0c);
    --font: 'Roboto', sans-serif;
    --font-title:'Fredoka One', cursive;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

/*---------- LAYOUT MOBILE ----------*/
/**---------- Container ----------*/
.container {
    height: 100vh;
    display: grid;
    justify-content: center;

    color: var(--main-text-color);
    background-image: url(../image/background-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.wrapper-grid {
    width: 320px;
    height: 100vh;
    display: grid;
    grid-template: 80px 1fr 50px / 1fr ;
    grid-template-areas: 
        "header"
        "form"
        "footer";
}

/*---------- HEADER ----------*/
.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo {
    width: 80px;
}

/*---------- DESCRIPTION ----------*/
.description {
    display: none;
}

/* ------------FORM REGISTER-------------- */
/** ------------container-------------- */
.form {
    grid-area: form;
    display: grid;
    align-content: center;
    width: 100%;
    height: 500px;
    padding: 10px;    
}

.form-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
    
    background-color: #fff;
}

/** -------------form header-------------- */
.form .form-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}

.form .form-header > div {
    width: 50%;
    height: 25px;
    position: relative;
    font-size: .9em;
    font-family: var(--font-title);
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;

    border-bottom: .5px solid #eee;
    color: var(--button-header-form-color);
}

.form.register .form-header div.show-register,
.form.query .form-header div.show-query  {
    font-size: 1em;
    font-family: var(--font-title);
    border-bottom: none;
    transition: 500ms ease-in-out;

    background-image: linear-gradient(to left, #FDC830, #ea5b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form.register .form-header div.show-register::before,
.form.query .form-header div.show-query::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;

    background-image: linear-gradient(to right, #ea5b0c, #FDC830);
}

/** --------------title-------------- */
.subtitle {
    font-family: var(--font-title);
    text-transform: uppercase;
    text-align: center;

    color: var(--text-color);
}

/** --------------form elements-------------- */
.form-element {
    position: relative;
    width: 100%;
    height: 50px;
    transition: all 500ms ease-in-out;
}

.form-element:nth-child(2) {
    padding-top: 12px;
    margin-bottom: 0;
}

.form-element:nth-child(6),
.form-element:nth-child(7) {
    width: 48%;
}

.form-element:nth-child(6) {
    left: -5px;
}

.form-element:nth-child(7) {
    right: -5px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 2.2em;
    font-size: 1em;
    border-radius: .5em;
    transition: .5s ease-in-out;

    color: var(--input-text-color);
    border: 1px solid var(--input-color);
    box-shadow: 9px 3px 10px -5px rgba(25, 25, 25, 0.2);
}

.input-box:focus {
    border: 2px solid var(--color-secundario);
}

.form-label {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 35px;
    transition: .5s ease;

    color: var(--input-text-color);
}

.input-box,
.form-label {
    padding-left: 10px;
}

.input-box:focus + .form-label,
.input-box:valid + .form-label {
    top: -17px;
    padding-left: 10px;
    font-size: .8em;
    color: var(--color-secundario);
}

.input-box:valid + .form-label > span {
    color: var(--input-text-color);
}

.form-label > span {
    padding: 3px 10px 0;
    background-color: #fff;
    transition: .5s ease-in-out;
}

.form .form-elements button {
    width: 220px;
    height: 34px;
    font-family: var(--font);
    font-size: 1em;
    font-weight: 400;
    margin-top: 5px;
    border-radius: .5em;
    border: none;
    outline: none;
    cursor: pointer;

    color: var(--button-text-color);
    background-image: var(--button-color);
    box-shadow: 10px 7px 10px -5px rgba(25, 25, 25, 0.2);
}

/*------------ FORM QUERY-------------- */
.form.query .form-element:nth-child(3),
.form.query .form-element:nth-child(5),
.form.query .form-element:nth-child(6),
.form.query .form-element:nth-child(7) {
    opacity: 0;
    height: 0;
}

/*------------ FOOTER-------------- */
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;

    color: var(--main-text-color);
}

/*? ---------------TABLET---------------- */
